.nav{
 
.sidebar{
    display: none;
    flex-direction: column;
    list-style: none;
    gap: 25px;
    background-color: cadetblue;
    padding: 60px;
    
      @media only screen and (max-width: $bp-medium2) {
        .sidebar{
 display:none;
 flex-direction: column;
 

 }

}

}

    
.btn-show{
    display: none;
      @media only screen and (max-width: $bp-medium2) {
    
 display: block;

}
}
    
}